name: Deploy mhs-mobile on self-hosted server

on:
  push:
    branches:
      - main        # ถ้า deploy จาก branch อื่น เปลี่ยนตามจริง

jobs:
  deploy:
    runs-on: self-hosted    # ใช้ runner ที่อยู่บน server เครื่องนี้

    steps:
      - name: Go to project folder
        run: |
          cd /home/phoubon-mhs-mobile/htdocs/mhs-mobile.phoubon.in.th
          pwd
          ls

      - name: Git pull latest code
        run: |
          cd /home/phoubon-mhs-mobile/htdocs/mhs-mobile.phoubon.in.th
          git pull origin main

      - name: Install dependencies
        run: |
          cd /home/phoubon-mhs-mobile/htdocs/mhs-mobile.phoubon.in.th
          npm install

      # - name: Build Next.js
      #   run: |
      #     cd /home/phoubon-mhs-mobile/htdocs/mhs-mobile.phoubon.in.th
      #     CI=false npm start

      # - name: Restart app with PM2 (no duplicate)
      #   working-directory: /home/phoubon-mhs-mobile/htdocs/mhs-mobile.phoubon.in.th
      #   run: |
      #     if pm2 describe mhs-mobile-nextjs > /dev/null 2>&1; then
      #       echo "PM2 process exists -> restart"
      #       pm2 restart mhs-mobile-nextjs
      #     else
      #       echo "PM2 process not found -> start new"
      #       pm2 start "npm start" --name mhs-mobile-nextjs
      #     fi
      #     pm2 save
